.justify-center{
    justify-content: center;
}


.login{
    border: 1px solid #eee;
    background: #fff
}
.login-btn {
    text-align: center;
   
}
.login-btn .btn{ color: #fff;border-radius: 10px;padding: 5px 20px!important}