/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn-secondary {
  color: darkgrey!important;
  background-color: transparent!important;
  border-color: transparent!important;
}
.btn{    padding: 5px!important;}
.search-box{width: 20%;
  float: right;}
  .sb-topnav .navbar-brand {
    width: 225px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  z-index: 1038;
}
.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}
.card,.card-body{
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
border: none!important;
padding: 0px!important;
}
.sb-nav-fixed .sb-topnav {
  z-index: 1039;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading, .sb-sidenav .nav-link{width: 100%;text-align: left}
.sb-sidenav-collapse-arrow{float: right}
.sb-nav-fixed a{color: darkgrey}
.sb-nav-fixed a:hover{color: #fff}
.sb-sidenav-dark .sb-sidenav-footer{
  background-color: #343a40;
  padding: 0.75rem;
  text-align: left
}
.btn-link{color: #000!important}
.fa.fa-bars{background: darkgray}
.fa-user{color: darkgray}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}
.rightsidenav{
  background: #fff;
  margin-top: 56px;
  text-align: left;
  padding-left: 225px;
}